<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p {
            font-size: 1rem;
            font-weight: bolder;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response page</title>
</head>
<body>
    <div class="text">
        <p>{{ responsetext }}</p>
        <a href="{{resurl}}">Go back</a>
    </div>
</body>
</html>